*{
    font-family: "Open Sans Condensed", sans-serif, serif ;
}
header {
    background-color: #E5E5E5;
    
}
img {
   
    border-radius: 20%;
    display: block;
    padding: 20px;
    margin:auto;
}

h1 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

.sub {
    color: #005677;
    background-color:#C4C4C4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
ul {
    font-size: 22px;
}

.categoria {
    font-style: italic;
    font-weight: bold;
    font-size: 22px;

}
.categoria1 {
    font-weight: bold;
    font-size: 22px;
}
.categoria3 {
    font-size: 22px;
    font-weight: bold;
}
dt{
    font-size: 22px;
}

dd {
    font-size: 22px;
    font-style: italic;
}
footer {
    display: flex;
    align-items: center;
    background-color: #005677;
    color: #C4C4C4;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
   
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: #C4C4C4;
}
 #icon {
     font-size: 27px;
     text-align: center;
 }